/*
    File: /conversions/currency/inflation-calculator/css/inflation-calculator.css
    Version: 1.0
    Author: Jamie Watters
    Date: 2025-06-06
*/

/* No specific styles are required for this calculator. 
   All form elements are styled globally by /css/styles.css. */
